@{
  Layout="Shared/_Layout.cshtml";
}

<h2 class="text-center"><form class="inline-form" action='/venues/@Model["selected-venue"].Id/edit'><button type="submit" class="btn btn-default btn-xs">Edit</button></form> @Model["selected-venue"].Name <small>@Model["selected-venue"].Address</small></h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h3>Bands who have played this venue:</h3>
    @if(Model["venue-bands"].Count ==0)
    {
      <h4>We know of no bands who have played at this venue. If you know of one who has, feel free to <a href='/venues/@Model["selected-venue"].Id/bands/new'>add them.</a></h4>
    }
    else
    {
      @foreach(var band in Model["venue-bands"])
      {
        <h3>@band.Name</h3>
        <h4>Members:</h4>
        <ul>
          @foreach(var member in @band.GetMembers())
          {
            <li>@member.Name</li>
          }
        </ul>
      }
    }
  </div>
  <div class="col-sm-6">
    @if(Model["venue-bands"].Count < Model["all-bands"].Count)
    {
      <form action='/venues/@Model["selected-venue"].Id/bands/new'>
        <button type="submit" class="btn btn-primary">Add band to list</button>
      </form>
    }
  </div>
</div>

<form action="/" class="text-center">
  <button type="submit" class="btn btn-info">Home</button>
</form>
